* {
    background-color:  #F5F7FA;
}

.form {
    margin: 50px;
    width: 50%;
}

h1, input, button {
    margin: 10px;
}
    
    
button {
    border: 1px solid #600684;
    border-radius: 5px;
    padding: 20px;
    color: #600684;
  }